 

.nav-item{
    list-style-type: none;
}

main{
    height: 100%;
    background-image: url(img-css/back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* background-image: url(img-css/back.jpeg); */